output.txt
*.so
.vs/config/applicationhost.config
.vs/*
*/*/*.csproj.user
*.dll
*.pdb
*.cache
*.targets
*.AssemblyInfo.cs
*.props
*.dev*
*.deps.json
*.assets.json
*.dtbcache*
*.ide-shm
*.zip
*.runtimeconfig.json
/*.gitattributes
storage.ide-wal
*.suo
sqlite3
netcoreapp1.0
netcoreapp2.1
netcoreapp2.2
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
.vscode/*
node_modules/
.installed.cfg
bin
obj
packages
dist
downloads
.DS_Store
.coverage
coverage.xml
.idea/
aws-lambda-tools-defaults.json
packaged.yaml
package.yml
.aws-sam
build

#SAM created packages
out.yaml
*.swp
package_output.yaml
*.user
